.container {
  width: 100%;
  max-width: 792px;
  padding-left: calc(var(--base-spacing) * 6);
  padding-right: calc(var(--base-spacing) * 6);
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  min-height: 100%;
  width: 100%;
  max-width: 600px;
}
