.form {
  padding: calc(var(--base-spacing) * 4) 0;
}

.input-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: calc(var(--base-spacing) * 8);
}

.submit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.submit-row > p {
  margin: 0 0 0 calc(var(--base-spacing) * 4);
}

.distance {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--base-spacing) * 6);
}

.distance > :first-child {
  flex: 2;
}

.distance > .spacer {
  margin: 0;
}

.distance > :last-child {
  margin-left: calc(var(--base-spacing) * 2);
  align-self: flex-end;
  flex: 1;
}

@media screen and (max-width: 660px) {
  .input-row {
    grid-template-columns: 1fr;
  }

  .submit-row {
    margin-top: calc(var(--base-spacing) * 6);
  }
}

@media screen and (max-width: 500px) {
  .distance {
    flex-direction: column;
  }

  .distance > :last-child {
    margin: calc(var(--base-spacing) * 2) 0 0;
    align-self: initial;
  }

  .submit-row {
    flex-direction: column;
    align-items: normal;
  }

  .submit-row > p {
    margin: calc(var(--base-spacing) * 4) 0 0 0;
  }
}
