.header {
  width: 100%;
  height: var(--header-height);
  left: 0;
  background: black;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
}

.header .title {
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  padding: calc(var(--base-spacing) * 4) 0;
}

.nav a {
  color: white;
  text-decoration: none;
  height: var(--base-line-height);
}

.nav a.active, .nav a:hover {
  border-bottom: 2px solid white;
}

.links {
  margin-left: calc(var(--base-spacing) * 8);
}
