<!DOCTYPE html>
<html lang="en">

<head>
  <title>Running Pace Calculator | Race Pace Space</title>
  <meta name="title" content="Running Pace Calculator" />
  <meta name="description"
    content="The running pace calculator. All grit, no shit. Calculate your training paces, race paces, and whatever other things you're trying to pace." />
  <meta name="keywords"
    content="race pace calculator, pace calculator, running calculator, training calculator, athletics calculator" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <meta name="revisit-after" content="3 days" />
  <meta id="og_image" property="og:image"
    content="https://racepace-og.now.sh/Marathon-2%3A01%3A39.png?theme=light&md=1">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://racepace.space/">
  <meta property="twitter:title" content="Running Pace Calculator | Race Pace Space">
  <meta property="twitter:description"
    content="The running pace calculator. All grit, no shit. Calculate your training paces, race paces, and whatever other things you're trying to pace.">
  <meta id="tw_image" property="twitter:image"
    content="https://racepace-og.now.sh/Marathon-2%3A01%3A39.png?theme=light&md=1">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116117867-2"></script>
  <script></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-116117867-2');
  </script>
  <% preact.headEnd %>
</head>

<body>
  <% preact.bodyEnd %>
</body>

</html>