@font-face {
  font-family: "GT America";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/GT-America-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/GT-America-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/GT-America-Mono.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GT America Expanded";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/GT-America-Expanded-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GT America Expanded";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/GT-America-Expanded-Black.woff") format("woff");
  font-display: swap;
}
