@import 'styles/utils.scss';
@import 'styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'GT America', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.nav {
  padding: 8px 0;
  background: black;
  margin-bottom: 16px;
  color: white;
}

.header {
  position: fixed;
  width: 100%;
  padding-bottom: 16px;
  left: 0;
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  right: 0;
  top: 0;
}

.main {
  width: 100%;
  margin-top: 200px;
  padding: 16px 24px;
  align-items: stretch;
}

h1 {
  font-family: 'GT America Expanded';
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-family: 'GT America Expanded';
  font-size: $base-font-size;
}

#input-form {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: $base-spacing * 4;

  label {
    font-weight: 500;
    font-family: 'GT America Expanded';
    font-size: 16px;
  }

  .input-container {
    margin-bottom: $base-spacing * 6;
    width: 100%;
    flex: 1;
    text-align: left;

    input {
      margin-top: 8px;
      padding: 0 8px;
      border-radius: $default-border-radius;
      border: 1px solid $black;
      height: 44px;
      font-family: 'GT America Mono';
      font-size: $base-font-size;
      background: none;
      font-family: 'GT America Mono';
    }
  }

  .input-unit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .input-container {
      display: flex;
      justify-content: flex-start;
      position: relative;
      margin: 0 4px;
      flex: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      label {
        display: flex;
        font-family: 'GT America';
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: $default-border-radius;
        border: 1px solid $black;
        cursor: pointer;
        padding: 0 12px;
        height: 100%;

        &:hover {
          background-color: $light-grey;
        }
      }

      input[type='radio'] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        z-index: -10;

        &:checked + label {
          background-color: $black;
          color: white;
        }

        &[disabled] + label {
          opacity: 0.3;
          pointer-events: none;
        }

        &:focus + label {
          outline: rgba(0, 103, 244, 0.247) auto 5px;
        }
      }
    }
  }

  .submit-button {
    height: 40px;
    font-family: 'GT America';
    font-size: $base-font-size;
    border: 1px solid $black;
    border-radius: $default-border-radius;
    cursor: pointer;
    color: white;
    background: $black;
  }
}

#results {
  text-align: left;
  align-items: stretch;

  h2#splits-table-title {
    padding: 0 0 $base-spacing 0;
    margin-bottom: 0;
    border-bottom: 1px solid $dark-grey;
  }
}

#splits-table {
  font-size: $base-font-size;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $base-spacing * 4;

  .pace-row {
    display: grid;
    grid-template-columns: 96px 96px;
    grid-column-gap: $base-spacing * 4;
    grid-row-gap: $base-spacing * 4;
    border-bottom: 1px solid whitesmoke;
    padding: 8px 0;
  }
}

#error-label {
  color: red;
  margin-top: $base-spacing * 2;
}

.pace-row {
  display: flex;
  padding-top: $base-spacing * 2;
}

.time-label {
  padding-left: $base-spacing;
}
