@import 'styles/utils.scss';
@import 'styles/variables.scss';

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  max-width: 1024px;
  text-align: center;
  align-items: stretch;
}

#input-form {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 500px;
  text-align: left;

  .input-container {
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;

    input {
      border-radius: 4px;
      border: 1px solid $dark-grey;
    }

    input,
    select {
      height: 50px;
      font-size: 18px;
    }
  }
}

#results {
  text-align: left;
  align-items: stretch;

  h2#splits-table-title {
    padding: 0 0 4px 0;
    margin-bottom: 0;
    border-bottom: 1px solid $dark-grey;
  }

  #splits-table {
    font-size: 18px;
  }
}

#error-label {
  color: red;
  padding-top: 8px;
}

.pace-row {
  display: flex;
  padding-top: 8px;
}

.time-label {
  padding-left: 4px;
}
