.form {
  padding: calc(var(--base-spacing) * 4) 0;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--base-spacing) * 6);
}

.input-row > :first-child {
  flex: 2;
  margin-right: calc(var(--base-spacing) * 8);
}

.input-row > :last-child {
  flex: 1;
}

.distance {
  margin-right: calc(var(--base-spacing) * 6);
}

.pace {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: calc(var(--base-spacing) * 6);
}

.pace > :first-child {
  flex: 1;
  margin-right: calc(var(--base-spacing) * 2);
}

.submit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.submit-row > p {
  margin: 0 0 0 calc(var(--base-spacing) * 4);
}

@media screen and (max-width: 660px) {
  .input-row {
    flex-direction: column;
  }

  .input-row > :first-child {
    margin-right: 0;
  }

  .distance, .pace {
    margin: 0 0 calc(var(--base-spacing) * 6);
  }

  .submit-row {
    margin-top: calc(var(--base-spacing) * 6);
  }
}

@media screen and (max-width: 600px) {
  .pace {
    flex-direction: column;
    align-items: normal;
  }

  .pace > :first-child {
    margin: 0 0 calc(var(--base-spacing) * 4);
  }
}

@media screen and (max-width: 500px) {
  .submit-row {
    flex-direction: column;
    align-items: normal;
  }

  .submit-row > p {
    margin: calc(var(--base-spacing) * 4) 0 0 0;
  }
}
