.group-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* offset child margins */
  margin: 0 calc(var(--base-spacing) * -1);
}

.input-container {
  display: flex;
  height: var(--input-height);
  justify-content: flex-start;
  position: relative;
  margin: 0 var(--base-spacing);
  flex: 0;
}

.input-container input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  z-index: -10;
}

.input-container input[type="radio"]:checked + label {
  background-color: var(--black);
  color: white;
}

.input-container input[type="radio"][disabled] + label {
  opacity: 0.3;
  pointer-events: none;
}

.input-container input[type="radio"]:focus + label {
  outline: var(--focus-outline) auto 1px;
}

.input-container label {
  display: flex;
  font-family: "GT America";
  font-size: var(--small-font-size);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--black);
  cursor: pointer;
  padding: 0 12px;
  height: 100%;
}

.input-container label:hover {
  background-color: var(--light-grey);
}

@media screen and (max-width: 600px) {
  .input-container label {
    padding: 0 calc(var(--base-spacing) * 2);
  }
}
