body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  font-family: "GT America", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "GT America Expanded";
  font-weight: 900;
  font-size: var(--base-font-size);
  margin: 0;
}

h2 {
  font-weight: 500;
  font-family: "GT America Expanded";
  font-size: var(--base-font-size);
  margin: 0;
}

.container {
  width: 100%;
  max-width: 792px;
  padding-left: calc(var(--base-spacing) * 6);
  padding-right: calc(var(--base-spacing) * 6);
  margin-left: auto;
  margin-right: auto;
}

/* CSS3 variables defined here */
:root {
  --base-spacing: 4px;
  --base-font-size: 20px;
  --small-font-size: 16px;
  --input-height: 40px;
  --default-border-radius: 4px;

  /* colors */
  --dark-grey: #424242;
  --light-grey: #e3e3e3;
  --black: #22212d;
  --focus-outline: #005fcc;
}

/* variables on mobile defined here */
@media screen and (max-width: 500px) {
  :root {
    --input-height: 36px;
    --base-font-size: 18px;
    --small-font-size: 16px;
  }
}
