.main {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 0 4px;
}

*:focus {
  outline: none;
}

#error-label {
  color: red;
  padding-top: 8px;
}

.hidden {
  display: none;
}
